@import "ui-mixins";
@import "ui-variables";
@import "buttons";

.pane-item {
  .panel {
    border-color: fadeout(@inset-panel-border-color, 30%);
  }
}

.panes {
  .pane {
    background-color: lighten(@app-background-color, 4%);
    .item-views {
      border-right: 1px solid @pane-item-border-color;

      .pane-item {
        background: @greenMediumDark;
        color: @light-gray
      }
    }
  }

  .pane-row > * {
    // border-right: 1px solid @pane-item-border-color;
    &:last-child { border-right: none; }
  }

  .pane-column > * {
    border-bottom: 1px solid @pane-item-border-color;
    &:last-child { border-bottom: none; }
  }
}

.thumbnail {
  // TODO: fix padding os mac
  background: @greenMediumDark;
  border-color: @greenDark;
}

.link,
.settings-view .link {
  color: @blueLight;

  &:hover {
    color: darken(@blueLight, 8%);
  }
}
